body {
    /*background-image: linear-gradient(to left,#76fec3 0%,#007db5 130%);*/
    /*Padding y eliminacion del scroll que genera el Sweetalert2 */
    padding-right: 0 !important;
    overflow: auto !important;
    display: contents;
/*    flex-direction: column;*/
    min-height: 100vh;
    width: 100%;
}

fieldset {
    border: solid gray 1px;
    border-radius: 3px;
}

.w-fit-content-min {
    min-width: 100vw;
    width: fit-content;
}

#container {
    display: flex;
    padding: 20px;
    margin: 0 !important;
    min-width: 100%;
}

/*Footer*/
footer {
    min-height: 50px;
    width: 100%;
    background-color: gray;
    position: fixed;
    bottom: 0;
}


footer p {
    padding: 3px;
    margin: 0;
    color: white;
}

.f-general {
    background-color: #944E97;
    margin: 0;
    justify-content: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.f-info {
    background-color: #942D97;
    margin: 0;
    justify-content: center;
}

.copyright {
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.f-creadores p {
    color: whitesmoke;
}
/*Footer*/

.panel {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

.panel-body {
    padding: 3px;
}

.trans-opacity-0 {
    opacity: 0;
    transition: opacity 0.5s;
}

.panel .panel-heading {
    color: dimgray;
}

.btn {
    padding: 5px;
}

.icono {
    display: inline-block;
    height: auto;
}

    .icono i {
        font-size: 40px;
    }

.select-none {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.texto-verde {
    color: #04B45F;
}

nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style:italic;
}

nav.navbar {
    background-color: #AFE1F9;
}


/*
36DADA azul nav
944E97 morado
FBBC3F amarillo
EE96BF rosado
78C9F1 azul
54332A cafe
17a2b8 azul2
*/
