<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
	<link rel="stylesheet" type="text/css" href="~/css/newglyphicon.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>IntegraLab - @ViewBag.Title</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand" role="navigation">
			<img src="~/resources/logo2.png" style="align-content:start;" onclick="document.location.href='@Url.Content("~/Factura/Index")'" />
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" datatoggle="collapse" data-target=".navbar-collapse">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>			
			</div>

			<div class = "navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Factura/Index">Reporte <span class="glyphicon glyphicon-file"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Paciente/Index">Pacientes <span class="glyphicon glyphicon-user" /></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Medico/Index">Medicos <span class="glyphicon glyphicon-heart-empty" /></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PerfilExamen/Index">Perfil/Examen <span class="glyphicon glyphicon-list-alt" /></a>
                    </li>
                </ul>
				<ul class="navbar-nav navbar-right">
					<li class="nav-item">
						<a class="nav-link " href="/Login/Index">Salir <span class="glyphicon glyphicon-log-out" /></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">

		@RenderBody()

		@RenderSection("scripts", required: false)

	</div>

</body>
</html>
