@{
    Layout = "_Layout";
    ViewData["Title"] = "Reporte";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><h4 class="panel-title text-center">Registro Reporte</h4></div>
        <div class="panel-body">

            <div class="panel panel-default">
                <div class="panel-heading"><h5 class="panel-title">Datos Paciente</h5></div>
                <div class="panel-body">

                    <div class="form-body form-horizontal">
                        <div class="form-group row">

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4">
                                        <label class="col-sm-2 col-md-6 control-label" style="text-align:start;">Tipo Id:</label>

                                        <label class="col-sm-2 col-md-6 control-label" style="text-align:start;">Cédula:</label>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-sm-3 col-md-6 control-label" style="text-align:start;">Nombre:</label>

                                        <label class="col-sm-3 col-md-6 control-label" style="text-align:start;">1° Apellido:</label>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-sm-3 col-md-6 control-label" style="text-align:start;">2° Apellido:</label>

                                        <label class="col-sm-3 col-md-6 control-label" style="text-align:start;">Sexo:</label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4">
                                        <div class="col-sm-2 col-md-6">
                                            <select class="form-control" id="cmbTipo" disabled>
                                                <option value="N">Nacional</option>
                                                <option value="E">Extranjero</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" id="txtCedula" class="form-control" value="" />
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" id="txtNombre" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" id="txtApellido1" disabled="disabled" class="form-control" value="" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">

                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" id="txtApellido2" disabled="disabled" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-6">
                                            <select class="form-control" id="cmbSexo" disabled>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4">
                                        <label class="col-sm-2 col-md-7 control-label" style="text-align:start;">F. Nacim:</label>

                                        <label class="col-sm-4 col-md-5 control-label" style="text-align:center;">Edad:</label>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-sm-3 col-md-7 control-label" style="text-align:start;">Facturar a:</label>

                                        <label class="col-sm-4 col-md-5 control-label" style="text-align:center;"># Factura:</label>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-sm-2 col-md-4 control-label" style="text-align:start;">Médico:</label>
                                    </div>

                                </div>
                            </div>


                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4">

                                        <div class="col-sm-2 col-md-8">
                                            <input type="text" class=" form-control" id="dtFecha" disabled="disabled">
                                        </div>

                                        <div class="col-sm-2 col-md-4">
                                            <input type="text" class="form-control" id="txtEdad" disabled="disabled" value="" />
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-sm-2 col-md-8">
                                            <input type="text" id="txtFacturar" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-4">
                                            <input type="text" id="txtNumFactura" disabled="disabled" class="form-control" value="" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-sm-2 col-md-12">
                                            <select class="form-control" id="cmbMedicos">
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4"></div>

                                    <div class="col-md-4">

                                        <div class="col-sm-1 col-md-1">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>

                                        <div class="col-sm-1 col-md-6">
                                            <label class="form-check-label" style="text-align:start;">Embarazo</label>
                                        </div>

                                        <div class="col-sm-1 col-md-1">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>

                                        <div class="col-sm-1 col-md-3">
                                            <label class="form-check-label" style="text-align:end;">Muestra</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-sm-1 col-md-1">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>

                                        <div class="col-sm-1 col-md-3">
                                            <label class="form-check-label" style="text-align:start;">Urgente</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <h5 class="control-label" style="text-align:start; font-style:oblique;">Ingrese la cédula o el nombre y luego la tecla "Enter" para buscar el paciente.</h5>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h5 class="panel-title">Detalle Pruebas</h5></div>
                <div class="panel-body">

                    <div class="form-body form-horizontal">
                        <div class="form-group row">

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-8">
                                        <label class="col-sm-2 col-md-2 control-label" style="text-align:start;">Número:</label>

                                        <label class="col-sm-2 col-md-6 control-label" style="text-align:start;">Descripción:</label>

                                        <label class="col-sm-2 col-md-4 control-label" style="text-align:start;">% Obtenido:</label>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-8">
                                        <div class="col-sm-2 col-md-2">
                                            <input type="text" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" class="form-control" disabled="disabled" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-2">
                                            <input type="text" class="form-control" value="" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-body form-horizontal">
                        <div class="form-group row">

                            <div class="col-md-7">

                                <div class="col-sm-12 col-md-12">

                                    <table id="tablaDetalle" class="table table-bordered table-hover" style="width: 100%">
                                        <colgroup>
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 10%;">
                                        </colgroup>
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Descripción</th>
                                                <th scope="col">% Obtenido</th>
                                                <th scope="col">% Real</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>

                                @*<div class="col-sm-12 col-md-12">

                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <div class="form-body form-horizontal">

                                                <div class="form-group row">

                                                    <div class="col-sm-12 col-md-12">
                                                        <div class="row_borde row form-group">

                                                            <div class="col-md-12">
                                                                <div class="col-sm-6 col-md-6">
                                                                </div>

                                                                <div class="col-sm-3 col-md-3">
                                                                    <label class="control-label" style="text-align:end;">Sub Total:</label>
                                                                </div>

                                                                <div class="col-sm-3 col-md-3">
                                                                    <input class="form-control" type="text" disabled="disabled" value="" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-12">
                                                        <div class="row_borde row form-group">

                                                            <div class="col-md-12">
                                                                <div class="col-sm-8 col-md-6">
                                                                </div>

                                                                <div class="col-sm-2 col-md-3">
                                                                    <label class="control-label" style="text-align:right;">Deducible:</label>
                                                                </div>

                                                                <div class="col-sm-2 col-md-3">
                                                                    <input class="form-control" type="text" value="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-12">
                                                        <div class="row_borde row form-group">

                                                            <div class="col-md-12">
                                                                <div class="col-sm-6 col-md-6">
                                                                </div>

                                                                <div class="col-sm-3 col-md-3">
                                                                    <label class="control-label" style="text-align:end;">Impuesto:</label>
                                                                </div>

                                                                <div class="col-sm-3 col-md-3">
                                                                    <input class="form-control" type="text" disabled="disabled" value="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-12">
                                                        <div class="row_borde row form-group">

                                                            <div class="col-md-12">
                                                                <div class="col-sm-6 col-md-6">
                                                                </div>

                                                                <div class="col-sm-3 col-md-3">
                                                                    <label class="control-label" style="text-align:end;">Total:</label>
                                                                </div>

                                                                <div class="col-sm-3 col-md-3">
                                                                    <input class="form-control" type="text" disabled="disabled" value="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>*@

                            </div>

                            <div class="col-md-5">

                                <div class="panel panel-default">
                                    <div class="panel-heading"><h5 class="panel-title">Seleccionar Perfil/Examen</h5></div>
                                    <div class="panel-body">

                                        <div class="col-sm-12 col-md-12">
                                            <div class="row_borde row form-group">

                                                <div class="col-md-12">
                                                    <div class="col-sm-3 col-md-3">
                                                        <label class="control-label" style="text-align:end;">Buscar:</label>
                                                    </div>

                                                    <div class="col-sm-9 col-md-9">
                                                        <input class="form-control" type="text" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12">
                                            <table id="tablaPerfiles" class="table table-responsive nowrap" style="width: 100%">
                                                <colgroup>
                                                    <col span="1" style="width: 5%;">
                                                    <col span="1" style="width: 20%;">
                                                </colgroup>
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Tipo</th>
                                                        <th scope="col">Perfil/Examen</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbBody">
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <h5 class="control-label" style="text-align:start; font-style:oblique;">Ingrese el número y luego la tecla "Enter" para buscar un perfil o examen.</h5>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h5 class="panel-title">Otros Datos</h5></div>
                <div class="panel-body">

                    <div class="form-body form-horizontal">

                        <div class="form-group row">

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-6">
                                        <div class="row_borde row">
                                            <div class="col-md-6">
                                                <label class="col-md-12 control-label" style="text-align:start;">Observación General:</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row_borde row">
                                            <div class="col-md-6">
                                                <label class="col-md-12 control-label" style="text-align:start;">Observación Específica:</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-6">
                                        <div class="row_borde row">
                                            <div class="col-md-6">
                                                <textarea id="tatObjGeneral" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row_borde row">
                                            <div class="col-md-6">
                                                <textarea id="tatObjEspecifico" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-body form-horizontal">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="row_borde row">
                        <div class="col-sm-4 col-md-4">
                        </div>
                        <div class="col-sm-4 col-md-4">
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <button class="btn btn-success" id="btnGuardar">Guardar <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

    <script>

        $(document).ready(function () {

            obtenerConsecutivoFactura();
            obtenerMedicos();
            obtenerPerfilesExamen();

            $("#txtCedula").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();

                    var fecha = new Date();
                    var anio = fecha.getFullYear();

                    $.getJSON('/Factura/BuscarPacienteCedula', { descripcion: $('#txtCedula').val() },
                        function (data) {
                            $("#cmbTipo").val(data.tipoId);

                            $("#txtNombre").val(data.nombre);
                            $("#txtApellido1").val(data.primerApellido);
                            $("#txtApellido2").val(data.segundoApellido);
                            $("#cmbSexo").val(data.sexo);

                            $("#dtFecha").val(moment(data.fechaNacimiento, 'YYYY-MM-DD HH:mm:ss a').format('DD/MM/YYYY'));
                            $("#txtEdad").val(anio - moment(data.fechaNacimiento, 'YYYY-MM-DD HH:mm:ss a').format('YYYY'));

                            $("#txtFacturar").val(data.primerApellido + ' ' + data.nombre);

                        });
                }
            });

            $("#txtNombre").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();

                    var fecha = new Date();
                    var anio = fecha.getFullYear();

                    $.getJSON('/Factura/BuscarPacienteNombre', { descripcion: $('#txtNombre').val() },
                        function (data) {
                            $("#cmbTipo").val(data.tipoId);

                            $("#txtCedula").val(data.cedula);
                            $("#txtApellido1").val(data.primerApellido);
                            $("#txtApellido2").val(data.segundoApellido);
                            $("#cmbSexo").val(data.sexo);

                            $("#dtFecha").val(moment(data.fechaNacimiento, 'YYYY-MM-DD HH:mm:ss a').format('DD/MM/YYYY'));
                            $("#txtEdad").val(anio - moment(data.fechaNacimiento, 'YYYY-MM-DD HH:mm:ss a').format('YYYY'));

                            $("#txtFacturar").val(data.primerApellido + ' ' + data.nombre);

                        });
                }
            });

        });

        function obtenerConsecutivoFactura() {

            $.getJSON('/Factura/ObtenerConsecutivoFactura',
                function (data) {
                    $("#txtNumFactura").val(data);

                });
        }

        function obtenerMedicos() {

            $.getJSON('/Factura/ObtenerMedicos',
                function (data) {

                    $.each(data, function () {
                        $("#cmbMedicos").append('<option value=' + this.id + '>' + this.numero + ' - ' + this.nombre + '</option>');
                    });
                });
        }

        function obtenerPerfilesExamen() {

            $.getJSON('/Factura/ObtenerPerfilesExamen',
                function (data) {

                    $("#tbBody").html("");
                    for (var i = 0; i < data.length; i++) {
                        var tr = `<tr>
                                      <td>`+ data[i].tipo + `</td>
                                      <td>`+ data[i].descripcion + `</td>
                                    </tr>`;
                        $("#tbBody").append(tr)
                    }

                });
        }

    </script>

}
