@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - PharmacyValrverd</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        <section class='login' id='login'>
            <div class='head'>
                <h1 class='company'>IntegraLab</h1>
            </div>
            <p class='msg'>Bienvenido</p>
            <div class='form'>
                <form>
                    <input type="text" placeholder='Usuario' class='text' id='username' required><br>
                    <input type="password" placeholder='Contraseña' class='password'><br>
                    <a href="/Home/Index" class='btn-login' id='do-login'>Login</a>
                </form>
            </div>
        </section>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>