<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/login.css" />
        <link rel="stylesheet" type="text/css" href="~/css/newglyphicon.css" /> 
    </head>
    <body>
        <section class='login' id='login'>
            <div class='head'>
                <img src="~/resources/logo2.png" style="align-content:center;"/>
            </div>
            
            <p class='msg'></p>
            <div class='form'>
                <form>
                    <input type="text" placeholder='Usuario' class='text' id='username' required><br>
                    <input type="password" placeholder='Contraseña' class='password'><br>
                    <a href="/Factura/Index" class='btn-login' id='do-login'>Login <span class="glyphicon glyphicon-log-in"></span></a>
                </form>
            </div>
        </section>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>